<% include header.ejs %>

    <div class="layout">
        <nav class="sidebar">
            <div class="logo">
                <img src="icon.png" alt="">
                <h2>Missing Children</h2>
            </div>
            <div class="menu">
                <div class="menu-item">
                    <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="users.ejs">Users</a></li>
                </div>
                <div class="menu-item">
                    <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="missing">Reports</a></li>
                </div>
                <div class="menu-item">
                    <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="found">Recovered</a></li>
                </div>
            </div>
        </nav>
        <!-- Your card elements here -->
        <section id="interface">
            <h3 class="i-name">Dashboard</h3>
            <div class="card-deck justify-content-end"> <!-- Add Bootstrap card classes -->
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-users fa-3x"></i>
                        <h5 class="card-title">
                            <%= count %>
                        </h5>
                        <p class="card-text">Users</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-file-alt fa-3x"></i>
                        <!-- <h5 class="card-title">8347</h5> -->
                        <h5 class="card-title">
                            <%= count %>
                        </h5>
                        <p class="card-text">Reports</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-user-plus fa-3x"></i>
                        <h5 class="card-title">
                            <%= count %>
                        </h5>
                        <p class="card-text">Recovered</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </section>
    </div>
    </nav>


    <% include footer.ejs %>