<% include header.ejs %>
  <% include nav.ejs %>

    <!--/ Intro Skew Star /-->
    <div id="home" class="intro route bg-image" style="background-image: url(img/intro-bg.jpg)">
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h1 class="intro-title mb-4">Anyone Missing??</h1>
            <p class="intro-subtitle"><span class="">We are here to help you.</span><strong
                class="text-slider"></strong>
            </p>
            <a href="/person/new" class="btn homebutton homebuttonH" style="margin:15px;">Add New Child</a>
            <a href="/person" class="btn homebutton homebuttonH" style="margin:15px;">See All Children</a>

          </div>
        </div>
      </div>
    </div>
    <% include footer.ejs %>