<% include header.ejs %>

<% include nav.ejs %>

<div class="container formdiv">
    <h1>Add Missing Child</h1>
    <form action="/person" method="POST" enctype="multipart/form-data" onsubmit=" return ValidateFileUpload()">
        <output id="list"></output>
        <p>Photo</p>
        <div class="custom-file form-group">
                <input type="file" class="custom-file-input" id="files" name="files" accept="image/*" required>
                <label class="custom-file-label" for="files">Choose Photo</label>
        </div> 
        <!-- <div class="custom-file form-group">
            <input type="file" class="custom-file-input" id="customFile" name="photo" accept="image/*" required>
            <label class="custom-file-label" for="customFile">Choose Photo</label>
        </div>  -->
        <!-- <input type="file" id="files" name="files" multiple /> -->
     
        <br><br>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Firstname"
                        maxlength="20" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Lastname"
                        maxlength="20" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Home Address</label>
            <input type="text" name="address" id="address" class="form-control" placeholder="Home Address"
                maxlength="200">
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="age" id="age" class="form-control" placeholder="Age" min="0" max="150">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number" maxlength="20">
        </div>
        <div class="form-group">
            <label for="location">Location missing from</label>
            <input type="text" name="location" id="location" class="form-control" placeholder="Location"
                maxlength="200">
        </div>
        <div class="form-group">
            <label for="date">Missing From(Date)</label>
            <input type="date" name="date" id="date" class="form-control" placeholder="Date" required>
        </div>
                <div class="form-group">
                    <label for="Height">Height</label>
                    <input type="text" name="height" id="height" class="form-control" placeholder="Height"
                        maxlength="20" required>
                </div>
                    <div class="form-group">
                        <label for="complexion">complexion</label>
                        <input type="text" name="complexion" id="complexion" class="form-control" placeholder="complexion"
                            maxlength="200" required>
                    </div>
                        <div class="form-group">
                            <label for="Eye color">Eye color</label>
                            <input type="text" name="eyecolor" id="eyecolor" class="form-control" placeholder="Eye color"
                                maxlength="200" required>
                        </div>
                    
                        <div class="form-group">
                            <label for="clothing">clothing</label>
                            <input type="text" name="clothing" id="clothing" class="form-control" placeholder="clothing"
                                maxlength="200" required>
                        </div>
                    
                
            
      
        <div class="form-group">
            <label fors="gender">Gender</label>
            <select name="gender" id="gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="delete-form">
            <a href="/" class="btn homebutton delete-button">Cancel</a>
        </div>

        <div class="delete-form">
            <button class="btn homebutton delete-button" type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
        function handleFileSelect(evt) {
          var files = evt.target.files; // FileList object
      
          // Loop through the FileList and render image files as thumbnails.
          for (var i = 0, f; f = files[i]; i++) {
      
            // Only process image files.
            if (!f.type.match('image.*')) {
              continue;
            }
      
            var reader = new FileReader();
      
            // Closure to capture the file information.
            reader.onload = (function(theFile) {
              return function(e) {
                // Render thumbnail.
                var span = document.createElement('span');
                span.innerHTML = ['<img class="formdiv-img" src="', e.target.result,
                                  '" title="', escape(theFile.name), '"/>'].join('');
                document.getElementById('list').insertBefore(span, null);
              };
            })(f);
      
            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
          }
        }
      
        document.getElementById('files').addEventListener('change', handleFileSelect, false);

        ///////////////////////////////
   
        ////////////////////////////////
      </script>


<% include footer.ejs %>