<% include header.ejs %>
    <% include nav.ejs %>

        <div class="container formdiv">
            <h1>Add Recovered Child</h1>
            <form action="/recovery" method="POST" enctype="multipart/form-data"
                onsubmit=" return ValidateFileUpload()">
                <output id="list"></output>
                <p>Photo</p>
                <div class="custom-file form-group">
                    <input type="file" class="custom-file-input" id="files" name="files" accept="image/*" required>
                    <label class="custom-file-label" for="files">Choose Photo</label>
                </div>
                <br><br>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input type="text" name="firstname" id="firstname" class="form-control"
                                placeholder="Firstname" maxlength="20" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Lastname"
                                maxlength="20" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number"
                        maxlength="20">
                </div>
                <div class="form-group">
                    <label for="location">Location recovered from</label>
                    <input type="text" name="location" id="location" class="form-control" placeholder="Location"
                        maxlength="200">
                </div>
                <div class="form-group">
                    <label for="condition">Condition</label>
                    <textarea name="condition" id="condition" class="form-control" placeholder="Condition"
                        maxlength="500"></textarea>
                </div>
                <div class="delete-form">
                    <a href="/" class="btn homebutton delete-button">Cancel</a>
                </div>
                <div class="delete-form">
                    <button class="btn homebutton delete-button" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <script>
            // File preview logic...
        </script>

        <% include footer.ejs %>