<% include header.ejs %>
    <% include nav.ejs %>

        <div id="home" class="intro route bg-image">
            <div class="container">
                <div style="margin-top:70px">
                    <p class="intro-subtitle headertext">All Recovered Children </p>
                    <div class="dropdown dropright headertext-button" id="headerbuttonid">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            Sort
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/recovery?sort=firstname&order=1">Firstname Ascending</a>
                            <a class="dropdown-item" href="/recovery?sort=firstname&order=-1">Firstname Descending</a>
                            <a class="dropdown-item" href="/recovery?sort=lastname&order=1">Lastname Ascending</a>
                            <a class="dropdown-item" href="/recovery?sort=lastname&order=-1">Lastname Descending</a>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="row">
                        <% recovered.forEach(function(recovery){ %>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="img-thumbnail showdiv">
                                    <a href="/recovery/<%=recovery._id%>">
                                        <img src="/image/<%= recovery.filename %>">
                                        <p>
                                            <%= recovery.firstname+" "+recovery.lastname %></p>
                        </a>
                    </div>
                </div>
                <% }); %>
                <div class=" col-lg-3 col-md-4 col-sm-6">
                                                <div class="img-thumbnail showdiv">
                                                    <a href="/recovery/new">
                                                        <img id="addnewimg" src="/img/addperson.png">
                                                        <p>Add Recovered Child</p>
                                                    </a>
                                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <% include footer.ejs %>